<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People data</title>
		<link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body>
  <h1>Firebase Practice</h1>
	<main>
		<form action="agregar" method="post">
			<label for="name">
				<p>Name</p>
				<input type="text" name="name" id="name" />
			</label>
			<label for="age">
				<p>Age</p>
				<input type="text" name="age" id="age" />
			</label>
			<label for="address">
				<p>Address</p>
				<input type="text" name="address" id="address" >
			</label>
			<label for="phone">
				<p>Phone</p>
				<input type="text" name="phone" id="phone" />
			</label>

			<button>Add Contact</button>
		</form>
		<section id="list">
			<% contacts.map(contact =>{ %>
				<div class="data">
					<p><a class="del" href="borrar/<%= contact.id  %>">delete</a> <a href="contact/<%= contact.id  %>">
						<%= contact.data.name %></a> <%= contact.id  %>
					</p>
					<p ></p>
				</div>
			<% }) %>
		</section>
	</main>

</body>
</html>